$primary: #c32c72;
$nav-footer-background-color: #f4f3ee;
$navbar-light-active-color: #c32c72;
$navbar-light-brand-color: #262626;
$navbar-light-brand-hover-color: #262626;
$background-color: #E5E5E5;
$font-family-base: 'open sans';