footer {
    background-color: $nav-footer-background-color;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 0rem 1rem;
    flex-shrink: 0;

    p {
        margin: 10px 0px;
    }

}